/* jOpenSim Gridstatus Module CSS v0.1 by djphil */

.jOpenSim_gridstatus {;}
.jOpenSim_gridstatus .text-right {font-weight: normal; text-align: right;}
.jOpenSim_gridstatus .text-bold {font-weight: bold;}
.jOpenSim_gridstatus table {width: 100%;}
.jOpenSim_gridstatus tr {;}
.jOpenSim_gridstatus td {;}

